/* Body background color */
body {
    background: linear-gradient(to bottom, #b8eaf7, #74c3db);
    margin: 0;
    padding: 0;
}

.navbar{
    border: 2px solid #f77f4f; /* Coral border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Timer Box Styling */
.timer-box {
    width: 200px;
    background-color: #f77f4f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: white;
}

/* Canvas Styling */
.canvas {
    border: 2px solid #ccc; /* Canvas border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom button color to match the theme */
.btn-primary {
    background-color: #ff7f50 !important; /* Coral color */
    border-color: #ff7f50 !important;
}

.btn-primary:hover {
    background-color: #e66b3c !important; /* Darker coral for hover */
    border-color: #e66b3c !important;
}

/* Add padding below the submit button */
.text-center {
    margin-bottom: 40px; /* Adjust this value as needed */
}

/* Media query for small heights (below 500px) */
@media (max-height: 500px) {
    .navbar {
        display: none;  /* Hide the header when the height is below 500px */
    }
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .canvas {
        width: 100%; /* Make the canvas responsive */
    }
}
