/* Home page specific styles */
body {
    background: linear-gradient(to bottom, #b8eaf7, #74c3db);
    margin: 0;
    padding: 0;
}

/* Rounded box for a section */
.homepage-box {
    background-color: #f8f9fa; /* Off-white background */
    border-radius: 10px; /* Rounded corners */
    padding: 30px; /* Space inside the box */
    margin: 20px 0; /* Space around the box */
    width: 100%; /* Full width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center-align the content */
}


/* Headings styling */
h2, h3 {
    color: #333;
    margin-top: 20px;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.8rem;
}

p.ready{
    font-size:1.3rem;
}

/* Gallery section text */
p.text-muted {
    font-size: 1rem;
    color: #6c757d;
}

img {
    max-width: 100%;
    height: auto;
}

/* Footer styling */
footer {
    background-color: #f8f9fa; /* Light background for footer */
    padding: 10px;
    border-top: 1px solid #ccc;
}

.navbar{
    border: 2px solid #f77f4f; /* Coral border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

a.nav-link {
    color: #333 !important;
}

a.nav-link:hover {
    color: #ff7f50 !important;
}

p.lead {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Custom button colors */
.btn-primary {
    background-color: #f77f4f !important; /* Coral */
    border-color: #d97046 !important;
}

.btn-primary:hover {
    background-color: #e66b3c !important; /* Darker coral for hover */
    border-color: #e66b3c !important;
}

button {
    margin-top: 10px;
}


/* Media query for small heights (below 500px)*/
@media (max-height: 500px) {
    .navbar {
        display: none;  
    }

    footer{
        display:none;
    }
} 