/* Rounded box for a section */
.homepage-box {
    background-color: #f8f9fa; /* Off-white background */
    border-radius: 10px; /* Rounded corners */
    padding: 30px; /* Space inside the box */
    margin: 5px 0; /* Space around the box */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center;
}

h2{
    color: black !important;
}

/* Gallery section text */
img {
    max-width: 100%;
    height: auto;
}

.lead {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #6c757d;
}

.ready {
    color: black;
    font-size:1.3rem;
}

.btn-primary {
    background-color: #f77f4f !important; /* Coral */
    border-color: #d97046 !important;
}

.btn-primary:hover {
    background-color: #e66b3c !important; /* Darker coral for hover */
    border-color: #e66b3c !important;
}

button {
    margin-top: 10px;
}
