/* grow to fill available space */
main {
    flex-grow: 1; 
}

p, li {
    color: black;
}

/* About Section Styling */
.about-section {
    background-color: #f8f9fa; /* Off-white background */
    border-radius: 10px; /* Rounded corners */
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center; /* Center all text */
}

/* Heading styles */
h1, h2, h3 {
    color: #333;
}

/* Adjust margin for spacing */
.mt-3 {
    margin-top: 20px;
}