/* Base Body Styling */
.body {
    background: linear-gradient(to bottom, #b8eaf7, #74c3db);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 100vh;
  }
  
  /* Flex Layout for Header, Main, Footer */
  header {
    flex: 0 80px;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  footer {
    flex: 0 30px;
  }
  
  footer a {
    float: right;
  }

  footer span {
    float: left;
  }
  
  .footer a:hover {
    color: #ff7f50;
  }
  
  /* Navbar Styling */
  .navbar {
    background-color: #fff;
    border: 2px solid #f77f4f; /* Coral border */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    color: #333;
  }
  
  menu {
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  a.nav-link {
    color: #333 !important;
  }
  
  a.nav-link:hover {
    color: #ff7f50 !important; /* Coral hover effect */
  }
  
  button {
    margin-top: 10px;
  }
  
  /* Responsive Adjustments */
  @media (max-height: 600px) {
    header, footer {
      display: none;
    }
  }
  